# Игнорировать файлы, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать папки и файлы, созданные IDE
.idea/
.vscode/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать файлы конфигурации
*.config

# Игнорировать папку с зависимостями (например, node_modules/ для Node.js)
node_modules/

# Игнорировать скомпилированные файлы и папки (например, для Java)
target/
bin/
dist/

# Игнорировать файлы, содержащие личные данные или ключи
config.ini
secrets.json

# Игнорировать файлы, созданные средствами сборки проекта
/build/
/dist/

# Игнорировать файлы, связанные с виртуальным окружением (например, для Python)
venv/
env/

# Игнорировать файлы логов
*.log

# Игнорировать файлы настроек редактора
.vscode/
*.sublime-project
*.sublime-workspace
*.idea/

# Игнорировать файлы настроек для операционной системы
.DS_Store
Thumbs.db
